<div class="form-actions">
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <button type="button" class="btn btn-success" ng-click="actionCreate()">Add</button>
            <label class="float-right">Show&nbsp;
                <ui-select ng-model="pagination.perPage" theme="select2" class="form-control input-inline" title="Choose one">
                    <ui-select-match>{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in [5, 10, 20] | filter: $select.search">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            &nbsp;entries</label>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped table-hover dataTable">
    <thead>
        <th ng-repeat="colunmName in tableHead" ng-click="orderBy(tableCell[$index])">{{ colunmName }}</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="row in tableSource | orderBy: orderByField : orderReverse | smarterLimitTo: pagination.perPage : ((pagination.current - 1) * pagination.perPage)">
            <td ng-repeat="fieldName in tableCell">{{ row[fieldName] }}</td>
            <!-- <td ng-show="showColumn4"><span class="label" ng-class="{ 'Active': 'label-success' , 'Inactive': 'label-danger' }[row.status]">{{ row.status }}</span></td> -->
            <td>
                <a href="" ng-click="actionRead(row)"><i class="fa fa-search-plus"></i></a>
                <a href="" ng-click="actionUpdate(row)"><i class="fa fa-pencil"></i></a>
                <a href="" ng-click="actionDelete(row)"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<pagination class="pagination pull-right" ng-model="pagination.current" total-items="pagination.total" items-per-page="pagination.perPage" max-size="pagination.maxSize" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>